<!DOCTYPE html>
<footer class="footer">
        <div class="content has-text-centered">
          <p>By Kathryn Zaharek, 2019.
            <br>
            This site was built for educational purposes. 
          </p>
        </div>
</footer>
</html>