<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HP Encyclopedia</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="/js/jQuery.js"></script>
</head>
<body>
    <div class="topnav sticky" id="topnav">
        <a href="http://localhost:3000/HP_Encyclopedia" class="active">Home</a>
        <div class="dropdown">
            <button class="catBtn"> Categories 
            </button>
            <div class="divCategories">
            <!-- <a href="http://localhost:3000/HP_Encyclopedia/mainContent/mainSearch">All Categories</a>
            <a href="http://localhost:3000/HP_Encyclopedia/mainContent/mainCharacters">Characters</a>
            <a href="http://localhost:3000/HP_Encyclopedia/mainContent/mainPotions">Potions</a>
            <a href="http://localhost:3000/HP_Encyclopedia/mainContent/mainSpells">Spells & Charms</a> -->
        
            <a id="allBtn">>All Categories</a>
            <a id="charBtn">>Characters</a>
            <a id="potionsBtn">>Potions</a>
            <a id="spellsBtn">>Spells & Charms</a>
            

            </div>
        </div>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
    </div>
    <!-- <div class="midnav">
        <ul>
            <li><a id="allBtn" href>All Categories</li>
            <li></li> id="charBtn">>Characters</li>
            <li></li> id="potionsBtn">>Potions</li>
            <li></li> id="spellsBtn">>Spells & Charms</li>
        </ul>
    </div> -->