<% include ../partials/head.ejs %>
<body>   
        <div class="navbar2">
            
                <div id="bktitle">
                    <h1>Harry Potter Encyclopedia</h1>
                </div> 
        </div>      

        <div class="gallery">//parent container
            <div id=characters>
                <a id="charBtn"><img src="/characters.jpg" alt="Characters"></a>
            </div>
            <div id="plants">
                <img src="/plants.jpg" alt="Plants"><a id="plantsBtn"></a>
            </div>
            <div id="potions">
                <img src="/potions.jpg" alt="Potions"><a id="potionsBtn"></a>
            </div>
            <div id="potions">
                <img src="/spells.jpg" alt="Spells"><a id="spellsBtn"></a>
            </div>
    
        

        </div>
        <!-- <div class="topnav">
            <ul id="middle-nav">
                <li><a href="/HP_Encyclopedia/mainContent/mainSearch">All Categories</a></li>
                <li><a id="charBtn">Characters</a></li>
                <li><a id="potionsBtn">Potions</a></li>
                <li><a id="spellsBtn">Spells & Charms</a></li>
            </ul>
        </div>
        <br>
        <nav class="nav-top">
            <a href="/HP_Encyclopedia/mainContent/mainNew"><button id="#newBtn">Add New</button></a>
        </nav>
        <br>
        <br>
        <div class="mozaicSearch"></div> -->
    
</body>
</html>