<% include ../partials/head.ejs %>
<body>
    <div id="bk-cover">
        <div id="landingPG">
            <h1>
                Welcome to the Harry Potter Encyclopedia
            </h1>
            <h3>
                (click to unlock the book)
            </h3>
        </div>
    </div>
</body>
</html>