<% include ../partials/head.ejs %>

<body>
    <div id="bk-cover"> 
        <div id="bktitle">
            <h1>
                Welcome to the Harry Potter Encyclopedia
            </h1>
        </div>
        <div class='bkimage'>
            <a href="/HP_Encyclopedia/mainContent/mainSearch" id="enter"><img src="booklanding.jpg"></img></a>
        </div>
       
    </div>
</body>
</html>