<% include ../partials/head.ejs %>

<body>
    <div id="bk-cover">
        <div id="landingPG">
            <h1>
                Welcome to the Harry Potter Encyclopedia
            </h1>
            <h3>
                <a href="HP_Encyclopedia/mainContent/mainSearch" id="enter">(click to unlock the book)</a>
            </h3>
        </div>
    </div>
</body>
</html>