<% include ../partials/head.ejs %>

<body>
    <main>
        <br>
            <div id="bktitle">
                <h1>
                    Welcome to the Harry Potter Encyclopedia
                </h1>
            </div>
            <br>
            <br>
            <div id="bk-cover"> 
                <div class="revlio">
                    <div class='bkimage bkspin'>
                        <a href="/HP_Encyclopedia/mainContent/mainSearch" id="enter"><img src="booklanding.jpg"></img></a>
                    </div>
                    <div id="specialisRevelio">
                        <p>(Click to unlock the book)</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>