<% include ../partials/head.ejs %>

<body>
    <main>
        <div id="bk-cover"> 
            <div id="bktitle">
                <h1>
                    Welcome to the Harry Potter Encyclopedia
                </h1>
            </div>
            <div class="revlio">
                <div class='bkimage bkspin'>
                    <a href="/HP_Encyclopedia/mainContent/mainSearch" id="enter"><img src="booklanding.jpg"></img></a>
                </div>
                <div id="specialisRevelio">
                    <p>(Click to unlock the book)</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>