<% include ../partials/head.ejs %>
<body>   
        <div class="navbar">
            <a href="/HP_Encyclopedia">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
        </div>
    </div>  
    <main>           
        <div id="bktitle">
            <h1>Harry Potter Encyclopedia</h1>
        </div>
        <div class="topnav">
            <ul id="middle-nav">
                <li><a href="/HP_Encyclopedia/mainContent/mainSearch">All Categories</a></li>
                <li><a id="charBtn">Characters</a></li>
                <li><a id="potionsBtn">Potions</a></li>
                <li><a id="spellsBtn">Spells & Charms</a></li>
            </ul>
        </div>
        <br>
        <nav class="nav-top">
            <a href="/HP_Encyclopedia/mainContent/mainNew"><button id="#newBtn">Add New</button></a>
        </nav>
        <br>
        <br>
        <div class="mozaicSearch"></div>
    </main>
</body>
</html>