<% include ../partials/head.ejs %>
<body>
<style>
    ul {
        display: inline-block;
        list-style-type: none;
    }
    li {
        text-align: left;
        font-size: 25px;
        text-indent: -20px;
    }
</style>
    <h2 id="hptitle">
        Harry Potter Encyclopedia
    </h2>
    <nav>
        <a href="/HP_Encyclopedia/mainContent/mainNew"><button>Add New</button></a>
    </nav>
    <br>
    <br>
    <div class="mozaicSearch">
    </div>

    
</body>
</html>