<% include ../partials/head.ejs %>
<body>   
    <main>   
        <br>   
        <nav>
            <div id="bktitle">
                <h1><a id="titleNav" href="/HP_Encyclopedia">Harry Potter Encyclopedia</a></h1>
            </div>
        </nav>
        <div class="topnav">
            <ul id="middle-nav">
                <li><a href="/HP_Encyclopedia/mainContent/mainSearch">All Categories</a></li>
                <li><a id="charBtn">Characters</a></li>
                <li><a id="potionsBtn">Potions</a></li>
                <li><a id="spellsBtn">Spells & Charms</a></li>
            </ul>
        </div>
        <br>
        <nav class="nav-top">
            <a href="/HP_Encyclopedia/mainContent/mainNew"><button id="#newBtn">Add New</button></a>
        </nav>
        <br>
        <br>
        <div class="mozaicSearch"></div>
    </main>
</body>
</html>