<% include ../partials/head.ejs %>
<body>
    <style>
        .tableNew {
            text-align: left;
        }    
    </style>
    <h2 id="hptitle">
        Harry Potter Encyclopedia
    </h2>
    <nav class="nav-top">
        <a href="/HP_Encyclopedia"><button>Home</button></a>
        <a href="/HP_Encyclopedia/mainContent/mainSearch"><button>Search & Index</button></a>
    </nav>
    <div class="form-bkgnd">
        
        <h2>Add Content</h2>
        <div id="tableNew">
            <form action="/HP_Encyclopedia/mainContent/mainSearch" method=POST>
                <label for="name">Name: </label>
                <input type="text" name="name" placeholder="Enter Name">(required)
                <br>
                <br>
                <label for="description">Description: </label> 
                <input type="textarea" name="description" placeholder="Description">
                <br>
                <br>
                <label for="img">Image: </label>  
                <input type="text" name="img" id="imgCreateNew" placeholder="Image"/>
                <br>
                <br>
                <input type="submit" id="submit" value="Create New" />
            </form>
            <br>
        </div>
        <hr>
    </div>
</body>
</html>