<% include ../partials/head.ejs %>
<body>
    <style>
        label {
            display: line-block;
            width: 50px; 
            text-align: left;
            background-color: rgb(75,30,19,.5)
        }
    </style>
    <div class="form-bkgnd">
        <h2>Add Content</h2>
        <hr>
        <form action="/mainContent/mainSearch" method=POST>
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter Name">
            <br>
            <br>
            <label for="description">Description: </label> 
            <input type="textarea" name="description" placeholder="Description">
            <br>
            <br>
            <label for="img">Image: </label>  
            <input type="text" name="img" id="imgCreateNew" placeholder="Image"/>
            <br>
            <br>
            <input type="submit" id="submit" value="Create New" />
        </form>
        <hr>
    </div>
</body>
</html>