<% include ../partials/head.ejs %>
<body>
    <h2 id="hptitle">
            Harry Potter Encyclopedia
    </h2>
    <nav class="nav-top">
        <a href="/HP_Encyclopedia"><button>Home</button></a>
        <a href="/HP_Encyclopedia/mainContent/mainSearch"><button>Search & Index</button></a>
    </nav>
    <img src="openbk.jpg">
</body>
</html>